# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# ignore packages
# get them via nuget
packages

# ignore suo files
*.suo
*.user

# ignore ReSharper
_Resharper.WSPingPong