<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <!-- Define which WS to host -->
      <bindings />
      <client />
      <services>
        <service name="WSPingPong.PingPongService">
          <endpoint contract="WSPingPong.IPingPongService" binding="wsHttpBinding"/>  
        </service>
      </services>
      
        <!--<bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPingPongService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4242/Design_Time_Addresses/WSPingPong/PingPongService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPingPongService"
                contract="PingPongServiceReference.IPingPongService" name="BasicHttpBinding_IPingPongService" />
        </client>-->
    </system.serviceModel>
</configuration>