<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <!-- Define which WS to host -->
      <services>
        <service name="WSPingPong.PingPongService">
          <endpoint contract="WSPingPong.IPingPongService" binding="wsHttpBinding"/>  
        </service>
      </services>
    </system.serviceModel>
</configuration>